@import "tailwindcss";



body {
  color: var(--text-primary);
  /* font-family: Arial, Helvetica, sans-serif; */
}

:root {
  --background-linear-blue: linear-gradient(to right, #2D69FF, #2A4EAA, #4C73D4, #1E58E9);
  --background-greyWhite: #F3F4FA;
  --background-white: #fff;
  --background-blue: #2D69FF; 
  --foreground: #fff;
  --background-secondary: #fff;
  --text-primary: #000;
  --text-secondary: #fff;
  --text-tertiary: #000000a7;
  --text-blue: #2D69FF;
}


@theme {
  --color-primary: #fff;
  --color-background-linear-blue: var( --background-linear-blue );
  --color-background-greyWhite:var(--background-greyWhite);
  --color-background-white:var(--color-background-white);
  --color-background-blue: #2D69FF;
  --color-secondary: #fff;
  --color-text-primary: #000;
  --color-text-secondary: #fff;
  --color-text-tertiary: #000000a7;
  --color-text-blue: #2D69FF;
}

@layer utilities {
  @keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  .animate-fadeIn {
    animation: fadeIn 300ms ease-out both;
  }
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  .animate-marquee {
    animation: marquee 15s linear infinite;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .scroll-left {
    animation: scroll-left 20s linear infinite;
  }
  
}

@layer base {

  /* HEADER TEXT */
  .bannerHeader {
    @apply text-6xl font-semibold text-start z-2  w-1/2 leading-tight
  }

  /* SUB HEADER TEXT */
  .bannerSubHeader {
    @apply text-2xl font-light text-start z-2 w-2/3 leading-snug

  }

  .footer-category-header {
    @apply font-semibold text-lg
  }

  .footer-category-link {
    @apply text-sm text-gray-400 hover:text-white
  }
  h4{
    @apply text-lg text-center font-bold
  }
  p{
    @apply text-base
  }
  
}

@layer components {
  .banner {
    @apply relative h-[85vh] w-full bg-cover bg-top text-white flex items-center justify-start py-4
  }

  .button {
    @apply px-6 py-2 bg-transparent border-2 border-secondary text-secondary cursor-pointer
  }

  .card {
    @apply border-r-2 border-secondary px-6 text-center h-30  flex justify-center items-center-safe flex-col  gap-2.5
  }

}

