@import "tailwindcss";


body {
  color: var(--text-primary);
  /* font-family: Arial, Helvetica, sans-serif; */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-secondary: #171717;
  --text-primary: #ffff;
  --text-secondary: #000;
}

@theme {
  --color-primary: #000;
  --color-background:#171717;
  --color-secondary: #fff;
  --color-text-primary: #fff;
  --color-text-secondary: #000;
  
}

@layer utilities {
  @keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  .animate-fadeIn {
    animation: fadeIn 300ms ease-out both;
  }
/* 1 cycle = 10 s scroll + 1 s pause = 11 s total */
@keyframes pause-marquee {
  0%   { transform: translateX(50%); }     /* off‑screen right */
  45%  { transform: translateX(-100%); }    /* off‑screen left — arrive */
  55%  { transform: translateX(50%); }    /* 1‑second HOLD (pause) */
  100% { transform: translateX(-100%); }     /* return right, ready for next loop */
}

.animate-pause-marquee {
  animation: pause-marquee 101s linear infinite;
}

  
}

@layer base {

  /* HEADER TEXT */
  .bannerHeader {
    @apply text-6xl font-extralight text-center z-2
  }

  /* SUB HEADER TEXT */
  .bannerSubHeader {
    @apply text-xl font-light text-center z-2
  }

  .footer-category-header {
    @apply font-semibold text-lg
  }

  .footer-category-link {
    @apply text-sm text-gray-400 hover:text-white
  }
  h4{
    @apply text-lg text-center font-bold
  }
  p{
    @apply text-base
  }
  
}

@layer components {
  .banner {
    @apply relative h-[85vh] w-full bg-cover bg-center text-white flex items-center justify-start py-4
  }

  .banner::before {
    content: "";
    @apply absolute inset-0 bg-black opacity-80;
    z-index: 1;
  }
  .button {
    @apply px-6 py-2 bg-transparent border-2 border-secondary text-secondary cursor-pointer
  }

  .card {
    @apply border-r-2 border-secondary px-6 text-center h-30  flex justify-center items-center-safe flex-col  gap-2.5
  }

}

